* {
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;  
}
.navbb {
    display: flex;
    height: 12vh;
    background-color: aquamarine;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.navbb ul{
    display: inline-block;
    padding: 2vh;
    list-style: none;
}

.navbb p {
    font-family: Sansita_Bold ;
    font-size: 3vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    position: absolute;
    min-width: 2vh;
    z-index: 1;
    display: none;
    background-color: rgb(10, 109, 122);
}

.dropdown:hover .dropdown-content{
    display: block;
}
@font-face {
    font-family: Sansita_Bold;
    src: url(../font/Sansita-Bold.ttf);
}

@font-face {
    font-family: Sansita_Bold-italic;
    src: url(../font/Sansita-BoldItalic.ttf);
}   

@font-face {
    font-family: Sansita;
    src: url(../font/Sansita-Regular.ttf);
}

@font-face {
    font-family: Sansita-italic;
    src: url(../font/Sansita-Italic.ttf);
}   